.svgAnimated .path:active {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: draw 1s ease forwards;
}

.animated-reset-icon:active {
  animation: reset-spin 0.8s linear;
}

@keyframes reset-spin {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes draw-check {
  to {
    stroke-dashoffset: 0;
  }
}
